
/* Global */
	.font-11 {
		font-size: 11px!important;	
	}
	.font-12 {
		font-size: 12px!important;	
	}

	.ml-1 {
		margin-left: .3rem!important;
	}

	.mb-0 {
		margin-bottom: 0px !important;
	}



/*==================*/
/* for fontawesome */
	.admin .fas {
		color: #fff!important;
	}

	.admin .back .fas {
		color: #0d6efd!important;
	}

	.sort {
		position: absolute;
		right: 10px;
		height: 20px;
		cursor: pointer;
	}

	.fa-sort {
		color: grey!important;
	}

	.icon {
		width: 25px;
		height: 20px;
		cursor: pointer;
	}

	.icon.edit {
		color: #20c997!important;
	}

	.icon.delete {
		color: red!important;
	}

	.icon.detail {
		color: #00c1d6!important;
	}

	.icon.edit:hover {
		color: #1db588!important;
	}

	.icon.delete:hover {
		color: #d60000!important;
	}

	.icon.detail:hover {
		color: #028896!important;
	}

/*===================*/
/* for Tables */

	.mw-10 {
		min-width: 10rem!important; 
	}

	.mw-8 {
		min-width: 8rem!important;
	}

	@media screen and (max-width: 1024px) {
		.mw-absen {
			min-width: 8rem;	
		}
	}


	@media screen and (max-width: 768px) {
		.mw-class {
			min-width: 8rem;
		}
		.mw-absen {
			min-width: 8rem;	
		}
	}

	@media screen and (max-width: 425px) {
		.mw-class {
			min-width: 5rem;
		}
		.mw-absen {
			min-width: 5.9rem;	
		}
	}

	i {
		color: #20c997!important;
	}

	.rounded-12 {
		border-radius: 12px!important;
	}

	.coloums {
		position: relative;
		/*color: grey;*/
	}

/* ========================== */
/* for login */

	.login-register .form {
		width: 500px!important; 
	}

	.login-register .mt-5 {
		margin-top: 4.5rem!important;
	}

	.login-register .password input, .login-register .confirmation input {
		width: 90%;
	}

	.login-register .password .icon, .login-register .confirmation .icon {
		width: 10%;
		font-size: 30px;
		color: #444!important;
		margin-top: -10px; 
	}

	.login-register .fas {
		color: #fff!important;
	}


